
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <form method="post" action=".">{% csrf_token %}

                <div class="col-md-4">
                    <div class="row loginform">
                        <div class="col-md-6">Old Password <span class="glyphicon glyphicon-lock"></span></div>
                        <div class="col-md-6">{{ form.old_password }}</div>
                    </div>
                    <div class="row loginform">
                        <div class="col-md-6">New Password <span class="glyphicon glyphicon-lock"></span></div>
                        <div class="col-md-6">{{ form.new_password1 }}</div>
                    </div>
                    <div class="row loginform">
                        <div class="col-md-6">New Password2 <span class="glyphicon glyphicon-lock"></span></div>
                        <div class="col-md-6">{{ form.new_password2 }}</div>
                    </div>
                    <div class="loginform">
                        <button type="submit" class="btn btn-info bigbutton">Password Change</button>
                    </div>
                </div>
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% endblock content%}