{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <form method="post" action=".">{% csrf_token %}

                <div class="col-md-4">
                    <div class="row loginform">
                        <div class="col-md-6">Username <span class="glyphicon glyphicon-user"></span></div>
                        <div class="col-md-6">{{ form.username }}</div>
                    </div>
                    <div class="row loginform">
                        <div class="col-md-6">Password <span class="glyphicon glyphicon-lock"></span></div>
                        <div class="col-md-6">{{ form.password1 }}</div>
                    </div>
                    <div class="row loginform">
                        <div class="col-md-6">Password Check <span class="glyphicon glyphicon-lock"></span></div>
                        <div class="col-md-6">{{ form.password2 }}</div>
                    </div>
                    <div class="loginform">
                        <button type="submit" class="btn btn-info bigbutton">Sign Up</button>
                    </div>
                </div>
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock content%}